
.aui .radio input[name*="mysignup"][type="radio"]
{
	float: left;
	margin-left: 20px;
}

.aui .form-inline label[for*="mysignup"].checkbox
{
    padding-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
    margin-left: 50px;
    width: 370px;
}
	